.signup-main-wrapper{ 

   .signup-form-wrapper{
      text-align: left;

      p{
         margin: 20px 0px;
         color: $gray-bg-content;
         font-size: 2.5rem;
      }

      .signup-form{           
         .form-group{
            display: flex;
            flex-direction: column;

            label{                  
               color: $orange-buttons;
               font-size: 1.2rem;
            }

            .new-entry-input{   
               width: 400px;
               font-size: 1.4rem;
               border: 1px solid $gray-bg-dealproduct;
               padding: 8px 10px;
               border-radius: 5px;  
            }

            .error-validation{
               margin-bottom: 8px;
               color: red;
               font-size: 1rem;
            }
         }

            .message{            
            p{
               width: 100%;
               position: absolute;
               font-size: 1.2em;
               color: black;
            }
         }

         .address{
            display: flex;
            justify-content: left;
            align-items: center;

            .new-entry-input{   
               margin-right: 5px;
               width: 280px;
               font-size: 1.2rem;  
            }
         }

         .city-zp{
            display: flex;
            justify-content: left;
            align-items: center;
            
            .new-entry-input{   
               margin-right: 5px;
               width: 280px;
               font-size: 1.2rem;  
            }
         }
         
         .state-country{
            display: flex;
            justify-content: left;
            align-items: center;
            
            .new-entry-input{   
               margin-right: 5px;
               width: 280px;
               font-size: 1.2rem;  
            }
         }

         .add-button{
            margin-top: 50px;
            width: 200px;
            background-color: $orange-buttons;
            border: 1px solid $orange-buttons;
            border-radius: 5px;
            color: white;
            font-size: 1.5rem;
            padding: 8px 10px;
            outline: none;
            transition: 0.3s ease-in-out;

            &:hover{
               cursor: pointer;
               background-color: #cc3c04;
               border: 1px solid #cc3c04;
            }
         }

         .spinner{    
            margin-top: 10px;            

            svg{
               color: $orange-buttons;
               font-size: 2rem;
            }
      
            p{
               margin: 0px;
               color: $gray-description;
               font-size: 1.8rem;
            }
         }
      }      
   }
}