.succes-payment-main-wrapper{
   .isloading{
      width: 100%;
      display: flex;
      flex-direction: columns;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
   
      svg{
         color: $orange-buttons;
         font-size: 5.5rem;
      }
   
      p{
         margin-left: 10px;
         color: $gray-description;
         font-size: 2rem;
      }
   }
   
   .success-payment{
      .center{
         background-color: $gray-bg-dealproduct;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         min-height: 100vh;
   
         .logo{
            img{
               width: 100px;
               height: 100px;
            }
         }
      
         .thanks{
            padding: 20px 50px;
            background-color: $orange-buttons;
            border-radius: 6px;
      
            p{
               color: white;
               font-size: 2.5rem;
               font-weight: 700;
            }
         }
   
         .order{
            margin: 10px 0px;
            p{
               font-size: 1.8rem;
               font-weight: 600;
            }
         }
   
         .email{   
            p{
               font-size: 1.5rem;   
            }
         }
      }
   }
}