.content{  
   .deal-product-detail-main-wrapper{
      width: 370px;
      background-color: #e7e4e4;     

      .image img{
         width: 370px;
         height: 490px;
      }

      .title-description{
         padding: 0px 50px;

         .title{
            margin-top: 10px;
            text-align: left;
            color: #575555;
            font-size: 1.8rem;
            font-weight: 700;
         }
         
         .description{
            text-align: left;
            color: #858383;
            font-size: 1.6rem;
         }
      }   
      
      .price-stock{ 
         margin-top: 5px;
         display: flex;
         justify-content: space-around;
         align-items: center;

         .price{    
            margin-left: 105px;  
            color: black;
            font-size: 3.5rem;
            font-weight: 700;
         }

         .stock{
            display: flex;
            justify-content: center;
            align-items: center;

            .number{
               text-align: center;
               margin-right: 3px;
               width: 30px;
               height: 30px;
               color: #f76d37;
               font-size: 1.8rem;
               font-weight: 700;
               border: 6px solid white;
               border-radius: 48%;
            }

            .left{
               font-size: 1.4rem;
               font-style: italic;
               font-weight: 600;
               color: #b8b6b6;
            }
         }
      }  

      .countdown-deal{
         margin-top: 15px;
         background-color: #d4d4d4;
         text-align: center;
         font-size: 1.8rem;
         font-style: italic;
         font-weight: 700;
         color: $orange_buttons;
         
         p{
            color: black;
            font-size: 1.2rem;
         }
      }
   }
}