.home-main-wrapper{
   .title-info-img{
      background-image: url(../../static/assets/images/pictures/pic-4.jpg);
      padding: 80px;
      height: 50vh;      
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;  
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:before{
         content:'';
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: rgba(0,0,0,0.6);
      }
   
      .title{     
         padding-bottom: 35px;

         p{
            color: $gray-bg-dealproduct; 
            font-size: 2.8rem;
            font-weight: 600;
            position: relative;         
         }
      }

      .info{
         text-align: center;
         padding-bottom: 65px;
         
         p{
            width: 880px;
            color: #fff;
            font-size: 1.5rem;
            position: relative;
         }
      }

      a{
         text-decoration: none;

         .button{         
            background-color: $orange-buttons;
            padding: 15px 80px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 3px;
            transition: 0.3s ease-in-out;
   
            p{
               font-size: 1.8rem;
               color: white;
            }
   
            &:hover{
               cursor: pointer;
               background-color: $orange-hover-buttons;           
            }
         }
      }
   }

   .featured-section{
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0px;

      .columns-wrapper{
         width: 1000px;
         display: flex;
         justify-content: space-between;
         align-items: center;

         .column{
            width: 333px;
            text-align: center;

            .icon{
               font-size: 10rem;              
               color: $gray-description;
            }

            .title{
               margin-top: 10px;
               font-size: 2.1rem;
               color: $orange-buttons;
            }

            .description{
               padding: 0px 25px;
               font-size: 1.6rem;
               color: $gray-bg-content;
            }
         }
      }
   }

   .subscribe-link{
      background-color: #ecf0f1;
      padding: 40px 0px;
      display: flex;
      justify-content: center;

      a{
         text-decoration: none;
      }

      .button{   
         background-color: $orange-buttons;
         border: 1px solid $orange-buttons;
         padding: 15px 80px;
         border-radius: 5px;
         color: white;
         font-size: 1.8rem;
         display: flex;     
         justify-content: center;
         align-items: center;       
         transition: 0.3s ease-in-out;          

         &:hover{
            cursor: pointer;
            background-color: $orange-hover-buttons;
            border: 1px solid $orange-hover-buttons;
         }

         &:active {
            box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
         }
      }
   }
}