.master-admin-main-navbar{
   background-color: $orange-buttons;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .left-column{
      img{
         margin-left: 8px;
         width: 110px;
         height: 30px;
      }
   }

   .center-column{
      .links{
         display: flex;
         justify-content: space-around;
         align-items: center;
   
         .link{
            a{
               font-size: 1.5rem;
               color: white;
            }
         }
      }
   }

   .right-column{
      margin-right: 8px;

      .user-info{
         font-size: 1.2rem;
         color: white;
      }
   }
}