.master-admin-main-wrapper{
   .spinner{ 
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      width: 100px;
      height: 100px;

      svg{
         color: $orange-buttons;
         font-size: 5.5rem;
      }

      p{
         margin-top: 10px;
         color: $gray-description;
         font-size: 2rem;
      }
   }

   .year-search{
      text-align: right;
      padding: 3px 0;
      background-color:  #7a7979;

      label{
         margin-right: 10px;
         font-size: 1.3rem;
         color: #fff;
      }

      .new-entry-input{
         margin-right: 15px;
         font-size: 1.2rem;
         border-radius: 5px;
         border: 1px solid $gray-bg-dealproduct;   
         
         &:focus{
            outline: none;
            border: 1px solid $gray-description;    
         }
      }
   }

   .chart-total-sales-info{     
      display: grid;
      grid-template-columns: 2fr 1fr;

      .chart-deals{
         height: 250px;
         margin-left: 15px;
      }

      .deals-total-sales-info{
         padding: 20px 45px;               

         .deals-total-sales{
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);  

            .title{
               text-align: center;
               background-color: #7a7979;
               border: 1px solid #ddd;
 
               h2{
                  color: #facf57;
               }
            }
 
            #totals-deals-sales-table{
                text-align: center;
                border-collapse: collapse;
                border: 1px solid #8d8c8c;
                width: 100%;
 
                td, th{
                   border: 1px solid #ddd;
                   padding: 8px;
                   font-size: 1.1rem;
 
                }
 
                tr:nth-child(even){
                  background-color: #f7f6f6;
               }
 
                th {
                   text-align: center;
                   background-color: #979797;
                   border: 1px solid #ddd;
                   color: white;
                   font-size: 1rem;
                }  
             }
         }
      }
   }

   .active-deals-wrapper{
      margin-top: 25px ;

      .title{
         background-color: #facf57;
         text-align: center;

         h2{
            color: #fff;

         }
      }

      #active-deals-table{
         text-align: center;
         border-collapse: collapse;
         border: 1px solid #8d8c8c;
         width: 100%;

         td, th{
            border: 1px solid #ddd;
            padding: 8px;
            font-size: 1.1rem;

         }

         tr:nth-child(even){
            background-color: #f7f7f7;
         }

         th {
            text-align: center;
            background-color:  #7a7979;
            border: 1px solid #ddd;
            color: white;
            font-size: 1rem;
         }  
      }

      .results-pagination{
         display: flex;
         justify-content: space-between;
         align-items: center;
         background-color: #ebebeb;
         border: 0.5px solid #cacaca;

         p{
            margin-left: 10px;
            color: #545454;
            font-size: 1.1rem;
         }
       
         .pagination{   
            margin-right: 10px;
            display: flex;
            justify-content: right;
            align-items: center;
            list-style-type: none;
   
            a{
               padding: 0px 6px;
               color: #545454;
               font-size: 1.1rem;
               border: 0.5px solid #cacaca;
               text-decoration: none;
               transition: 0.3s ease-in-out;
   
               &:hover{
                  background-color: #545454;
                  color: #fff;
               }
            }
         }
      }      

      .spinner2{ 
         position: relative;
         top: 10%;
         left: 50%;
         margin-top: 5px;
         margin-left: -50px;
         width: 100px;
         height: 100px;

         svg{
            color: $orange-buttons;
            font-size: 3.5rem;
         }
   
         p{
            margin-top: 10px;
            color: $gray-description;
            font-size: 1.2rem;
         }
      }
   }
}