@media screen and (max-width: 615px){
   // Login (Master, Business account)
   .login-main-wrapper{
      .login-form-center{
         .login-container{
            width: 350px;  
         }
      }
   } 

   // Navigation Bar
   .navigation-bar-main-wrapper{
      flex-direction: column;
      height: 100%;
   
      .left-column{
         img{
            margin-left: 2px;
            width: 90px;
            height: 60px;
         }
      }
   
      .center-column{
         
         .links{
            flex-direction: column;
            height: 100%;
            width: 100%;

            .link{
               a{
                  font-size: 1.3rem;
               }
            }
         }
      }
   
      .right-column{
         .user-info-logout{
            display: flex;
            justify-content: center;
            align-items: center;
   
            .user-info{
               color: $gray-titles;
               font-size: 1.2rem;
            }
   
            .logout{
               margin: 0px 10px;
               text-align: center;
   
               svg{
                  color: $orange-buttons;
                  font-size: 2.5rem;
                  transition: 0.3s ease-in-out;
   
                  &:hover{
                     cursor: pointer;
                     color: $gray-description;
                  }
               }
   
               p{
                  color: $gray-description;
               }
            }
         }
   
         .login{
            display: flex;
            justify-content: space-between;
            align-items: center;
   
            .auth{
               a{
                  margin-right: 3px;
                  text-decoration: none;
                  color: $gray-titles;
                  font-size: 1.3rem;
                  font-weight: 600;
                  transition: 0.3s ease-in-out;
   
                  &:hover{
                     color: $orange-buttons;
                  }
               }
            }
   
            a{
               .user-icon{
                  width: 25px;
                  height: 26px;
                  background-color: $gray-description;
                  border: 3px solid white;
                  border-radius: 48%;
                  text-align: center;
                  transition: 0.3s ease-in-out;
      
                  svg{
                     font-size: 1.8rem;
                     color: white;
                  }
   
                  &:hover{
                     background-color: $orange-buttons;
                  }   
               }                     
            }
         }
      }
   }
   
   // Deal product
   .main-wrapper{
      .deal-product-main-wrapper{
         height: calc(100vh - 1px);

         .content{
            width: 370px;
            height: 810px;
            
            .deal-product-detail-main-wrapper{
               width: 361px;
               height: 801px;

               .business-logo {  
                  width: 361px;
                  height: 80px;                 
               }

               .image {
                  width: 361px;
                  height: 390px;
               }

               .title{
                  font-size: 1.8rem;
               }

               .price-stock{ 
                  margin-top: 5px;
         
                  .compare-price{  
                     font-size: 2.1rem;
                  }
         
                  .price{  
                     font-size: 3.3rem;
                  }
         
                  .stock{         
                     .number{
                        font-size: 1.5rem;
                     }
         
                     .left{
                        font-size: 1.3rem;
                     }
                  }
               }

               .buy-button{
                  width: 361px;

                  button{
                     padding: 10px 110px;
                  }
               }

               .buy-link{
                  width: 361px;

                  a{
                     .button{  
                        width: 140px;
                     }
                  }
               }

               .links-wrapper{
                  width: 361px;        
               }
            }
         }
      }
   }

   // Signup Customer
   .signup-main-wrapper{
      .signup-form-wrapper{
         .signup-form{          
            .form-group{
               .new-entry-input{ 
                  width: 280px;
               }
            }
         }
      }
   }




}